$primary-text-color: #404040;
$primary-border-color: #d2d2d2;
$secundary-text-color: #FFF;

.largeLogo {
  width: 70px !important;
}

.headerContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 40px;

    button {
      position: absolute;
      width: 40px;
      height: 40px;
      right: 5px;
      top: 5px;
      border: 0px;
      border-radius: 50%;
      margin: 10px;
      background-color: transparent;
      transition: filter 0.2s;
  
      &:hover {
        cursor: pointer;
        filter: invert(43%) sepia(8%) saturate(0%) hue-rotate(141deg) brightness(93%) contrast(88%);
      }
    }

    div {
      position: relative;
      width: 260px;
      height: 260px;
      margin-top: 30px;
      margin-bottom: 10px;

      img {
        border-radius: 50%;
      }
    }

    h1 {
      font-size: 24px;
      font-weight: 300;
      color: $primary-text-color;
    }
    
    h2 {
      font-size: 18px;
      color: $primary-text-color;
      font-weight: 300;
    }
  }
}

.stackContainer {
  display: flex;
  justify-content: center;

  > article {
    padding: 20px;
    border-radius: 5px;
    width: 250px;
    margin: 20px;
    box-shadow: 0 3px 5px $primary-border-color;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0 3px 25px $primary-border-color;
    }

    header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: $primary-text-color;
      padding: 10px;
      border-radius: 5px;
      color: $secundary-text-color;

      div {
        position: relative;
        width: 40px;
        height: 40px;
      }

      h1 {
        font-size: 18px;
        margin-left: 10px;
      }
    }

    article {
      display: flex;
      flex-direction: column;
      align-items: center;

      div {
        position: relative;
        width: 200px;
        height: 200px;
      }

      p:first-of-type {
        height: 120px;
      }

      p {
        font-weight: lighter;
        line-height: 20px;
        margin-bottom: 20px;
        align-self: self-start;
      }
    }
  }
}

.schedulesContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 40px 200px 40px 200px;
}

.contactContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 40px 200px 40px 200px;
}

.socialContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 40px 200px 40px 200px;

  article {
    display: flex;
    flex-direction: row;
    justify-content: center;

    a {
      text-decoration: none;
      color: $primary-text-color;
      margin-left: 10px;
      font-weight: 100;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}